  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner pt-5 mt-5">
      <div class="carousel-item active">
       <%= image_tag("pexels-photoscom-93398.jpg", class: "bd-placeholder-img", width: "100%", height: "100%")%>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Your Trusted Moving Partner</h1>
            <p>Moving can be stressful, but it doesn't have to be. At Moving General, we are here to help make your move as smooth and stress-free as possible.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Contact Us for a Consultation</a></p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
       <%= image_tag("pexels-ketut-subiyanto-4246211 1 (1).jpg", class: "bd-placeholder-img", width: "100%", height: "100%")%>
        <div class="container">
          <div class="carousel-caption">
            <h1>Our Services</h1>
            <p>We offer a wide range of moving services to fit your needs and budget. Whether you need help with packing, loading and unloading, or transportation, we've got you covered.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
       <%= image_tag("pexels-rdne-stock-project-7464662 1.jpg", class: "bd-placeholder-img", width: "100%", height: "100%")%>
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Professional and Reliable</h1>
            <p>We take the safety and security of your belongings seriously. That's why we use only the highest-quality equipment and techniques to ensure that your items are well-protected during the move.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <%= image_tag("shield.png", class: "bd-placeholder-img")%>

        <h2>Trust</h2>
        <p>Trust is the cornerstone of our moving company. We strive to be transparent, honest, and reliable in all our communications and services. You can trust us to transport your belongings safely and securely, every time.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <%= image_tag("heart.png", class: "bd-placeholder-img")%>
        
        <h2>Loyalty</h2>
        <p>We value our customers and are committed to building lasting relationships with them. Our loyalty program rewards repeat business, and we're always looking for ways to provide exceptional service and value to our loyal customers.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <%= image_tag("customer.png", class: "bd-placeholder-img")%>

        <h2>Service</h2>
        <p>We pride ourselves on providing exceptional customer service. From the moment you contact us until your belongings are safely delivered to your new home, our team is dedicated to ensuring a stress-free and seamless moving experience.</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Custom Solutions:<span class="text-muted">Tailored to Your Unique Needs</span></h2>
        <p class="lead"> We pride ourselves on providing custom solutions that are tailored to meet your unique moving needs. We know that no two moves are the same, and that's why we work closely with our clients to create a personalized moving plan that addresses all their concerns and priorities.</p>
      </div>
      <div class="col-md-5">
        <%= image_tag("pexels-mike-bird-943930.jpg", width: "500", height: "500")%>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">White Glove Service: <span class="text-muted">Unmatched Care for Your Move</span></h2>
        <p class="lead">Our white glove service is the ultimate solution for a stress-free move. Our experienced movers will use specialized packing materials and techniques to protect your belongings during transport. Plus, our customized unpacking services will leave you with a clean and organized space. With our unmatched care and attention, you can trust us to handle every aspect of your move with professionalism and expertise.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Secure Storage Solutions <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">Sometimes, you may need to store your belongings before or after a move. That's why we offer secure storage solutions to accommodate your needs. Our storage facilities are climate-controlled, clean, and secure, and we offer both short- and long-term storage options. Whether you need to store a few items or an entire household, we've got you covered. Plus, with our pickup and delivery service, we'll transport your belongings to and from our storage facility, saving you time and hassle.</p>
      </div>
      <div class="col-md-5">
        <%= image_tag("pexels-maor-attias-5156696.jpg", width: "500", height: "500")%>

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


